flake8
matplotlib
numpy
argparse

# [OpenComputerVision] Lib ComputerVision pour effectuer transformation du DataSet
opencv-python

# [Deps for planCv] Lib trained for Plants Analysis
scipy==1.13.1
plantcv
